
body {
	/*background: #fff url(../images/bg-1.png);
	background-position:center top;*/
	background: #5E5E5E
}

#logo.logo {
	padding: 30px 20px;
	font-size: 200%;
}

.art-nav.art-nav-sup div {
	height: 25px;
}
.art-nav.art-nav-sup {
	height: 25px;
}
.art-nav.art-nav-inf > .l {
	left: 30px;
	right: 0px;
}
.art-nav.art-nav-inf > .r {
	right: 80px;
	clip: rect(auto, auto, auto, 80px);
	*clip: rect(auto auto auto 80px);
}

div.art-header {
	height: 150px;
}

.title-bar {
	background:white url(bg.gif) repeat-x left top;
	margin: 0px 0px 20px;
	padding: 5px 10px;
}

.title-bar label {
	margin: 0px;
	padding: 5px 0px;
	font-size: 16px;
	font-weight: bold;
}

.title-panel {
	background:white url(bg.gif) repeat-x left top;
	margin-bottom: 0px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
}

div.breadcrumbs {
	padding: 5px 28px;
}


/****** Estilos generales ********/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

/****** Estilos generales ********/



/****** Administracion ********/

.art-blockcontent-body .menu-adm  #sidebar {
	margin-bottom: 20px;
}

.view.admin > div {
	display: inline;
}

.view.admin > div a {
	float: right;
}

/*****************************/


/****** home ********/

.carousel-inner .item img {
	margin: 0px;
}

/***********************************/

/****** Listado propiedades ********/
.accordion-inner.well.search-estates {
	padding: 20px;
}
.search-estates .controls-row  {
	margin-bottom: 20px;
}
.search-estates .controls-row.last {
	margin-bottom: 0px;
}
.search-estates .controls-row .span-custom {
	width: 183px;
}
.search-estates .controls-row .span {
	margin-right: 0px;
}
.search-estates .controls-row .span.btn-submit {
	text-align: right;
}
.controls-row .span .art-button-wrapper {
	margin-top: 16px;
}
.search-estates select,
.search-estates input[type="text"] {
	height: 18px;
	padding: 3px 4px;
}
.search-estates select  {
	height: 26px;
}
.controls-row .span .select-custom {
	width: 180px;
	margin-bottom: 0px;
}
.controls-row .span .input-custom {
	width: 165px;
	margin-bottom: 0px;
}

.list-view.list-view-estates .sorter {
	text-align: left;
	float: left;
}
.list-view-estates .sorter li {
	background: transparent;
}
.list-view-estates .items a {
	text-decoration: none;
	color: #363636;
}
.list-view-estates .items a:hover {
	text-decoration: none;
	color: #AB2B2B;
	cursor: pointer;
}

div.view.view-estates {
	margin: 0px 0px 10px;
}

.view.view-estates {
	display: inline-block;
}

.view.view-estates .img {
	float: left;
	margin-right: 10px;
}
.view.view-estates .img img {
	width: 140px;
	height: 105px;
}
.view.view-estates .info {
	float: left;
	width: 660px;
}
.view.view-estates .info div {
	display: inline;
}
.view.view-estates .info div.right {
	float: right;
}

/*****************************/

/****** Ver propiedad ********/

.view-estate .estate-description {
	text-align: justify;
}

.detail-view.view-est-att {
	width: 100%;
}
.detail-view.view-est-att th {
	width: 200px;
	padding-right: 20px;
}
.detail-view.view-est-att .odd th {
	background: #E5F1F4;
}
.detail-view.view-est-att .even th {
	background: #F8F8F8;
}
.detail-view.view-est-att td {
	padding-left: 20px;
}
.detail-view.view-est-att .odd td {
	background: #E5F1F4;
}
.detail-view.view-est-att .even td {
	background: #F8F8F8;
}
.view-est-img a {
	outline: 0px;
}
.view-est-img img {
	height: 114px;
	width: 160px;
	outline: 0px;
}

.modal.modal-view-est-img {
	width: 700px;
	margin: -250px 0 0 -350px;
	outline: 0;
	border: 0px;
	background-color: transparent;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
}
.modal-view-est-img .modal-header {
	padding: 3px 15px;
	background: #222020;
	opacity: 0.9;
	filter: alpha(opacity=90);
	border-color: #753B3B;
}
.modal-view-est-img .modal-header h3 {
	color: white;
	width: 90%;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.modal-view-est-img .modal-header .close {
	margin-top: 5px;
	font-size: 25px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-shadow: none;
	color: #ffffff;
}
.modal-view-est-img .modal-header .close:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.modal-view-est-img .modal-body {
	max-height: 525px;
	padding: 0px;
}
.modal-view-est-img  .carousel {
	height: 525px;
	width: 700px;
	background: #222020;
}
.modal-view-est-img .carousel {
	margin-bottom: 0px;
}
.modal-view-est-img  .carousel .item > img {
	max-width: 700px;
	max-height: 525px;
}
.modal-view-est-img  .carousel .carousel-control {
	top: 45%;
}

/*****************************/


/*** personalizado de main style ***/

div.view  {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #CACACA;
}

/***********************************/


/*** personalizado de bootstrap ***/
.accordion-inner.well {
	margin-bottom: 0px;
}

.accordion-inner.well > .control-group {
	margin-bottom: 10px;
}

[class*="span"] {
	margin-left: 0px;
	margin-right: 20px;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

.modal-backdrop.darkest.fade.in {	
	opacity: 0.9;
	filter: alpha(opacity=90);
}