
#logo.logo {
	padding: 30px 20px;
	font-size: 200%;
}

.title-bar
{
	background:white url(bg.gif) repeat-x left top;
	margin-bottom: 0px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
}

.list-view-estates .items a:hover {
	text-decoration: none;
}

/*** personalizado de bootstrap ***/
.accordion-inner.well {
	margin-bottom: 0px;
}

.accordion-inner.well > .control-group {
	margin-bottom: 10px;
}

[class*="span"] {
	margin-left: 0px;
	margin-right: 20px;
}