
body {
	/*background: #fff url(../images/bg-1.png);
	background-position:center top;*/
	background: #5E5E5E
}

#logo.logo {
	padding: 30px 20px;
	font-size: 200%;
}

.art-nav.art-nav-sup div {
	height: 25px;
}
.art-nav.art-nav-sup {
	height: 25px;
}
.art-nav.art-nav-inf > .l {
	left: 30px;
	right: 0px;
}
.art-nav.art-nav-inf > .r {
	right: 80px;
	clip: rect(auto, auto, auto, 80px);
	*clip: rect(auto auto auto 80px);
}

div.art-header {
	height: 150px;
}

.title-bar {
	background:white url(bg.gif) repeat-x left top;
	margin: 0px 0px 20px;
	padding: 5px 10px;
}

.title-bar label {
	margin: 0px;
	padding: 5px 0px;
	font-size: 16px;
	font-weight: bold;
}

.title-panel {
	background:white url(bg.gif) repeat-x left top;
	margin-bottom: 0px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
}

div.breadcrumbs {
	padding: 5px 28px;
}


/****** Estilos generales ********/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

.art-postcontent .art-panel {
	margin: 20px;
}

.art-button-wrapper .art-button.btn-icon {
	padding: 0 45px 0 25px !important;
}
.art-button-wrapper .art-button+i {
	position: absolute;
	top: 8px;
	right: 23px;
}
.art-button-wrapper .art-button+i:hover {
	cursor: pointer;
}

.wide.form label {
	margin-top: 8px;
}

.art-nav .art-menu ul li.active>a span, .art-nav .art-menu ul li.active>a span span
{
  color: #928282;
}

.art-blockcontent-body .portlet ul li {
	margin-bottom: 2px;
}

.portlet .portlet-decoration {
	margin-top: 15px;
}

/****** Estilos generales ********/


/****** Pager ********/

.pager ul.yiiPager li a {
	text-decoration: none;
}
.pager ul.yiiPager li.hidden a {
	color: #888;
}
.pager ul.yiiPager .page a {
	font-weight: bold;
}
.pager ul.yiiPager li {
	background: none;
	padding-left: 0px;
}

/****** Pager ********/


/****** Administracion ********/

.art-blockcontent-body .menu-adm  #sidebar {
	margin-bottom: 20px;
}

.view.admin > div {
	display: inline;
}

.view.admin > div a {
	float: right;
}

.grid-view .items .filters input {
	width: 85%;
	padding: 3px;
}
.grid-view .items .button-column img {
	margin: 0px;
}

/* propiedades */
#estates-form .form .row textarea {
	width: 98%;
	max-width: 100%;
	min-height: 80px;
}
#estates-grid.grid-view  .button-column {
	width: 30px;
}
#estates-grid.grid-view  .button-column a {
	display: block;
	margin-bottom: 10px;
}
/***************/

/*****************************/


/************ home *****************/

.art-postcontent .panel-preview {
	padding: 8px;
}
.art-postcontent .panel-preview h2 {
	margin: 0px;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	display: block;
	padding: 5px;
	background: #333;
	background: rgba(32, 32, 32, 0.75);
	z-index: 5;
	color: white;
	opacity: 0.7;
	font-size: 16px;
}
.panel-preview  .carousel {
	margin-bottom: 0px;
}
.carousel-inner .item img {
	margin: 0px;
	max-height: 320px;
	min-height: 320px;
}
.panel-preview  .carousel .carousel-caption {
	padding: 5px 10px;
	background: rgba(32, 32, 32, 0.75);
	*opacity: 0.7;
	
}
.panel-preview  .carousel .carousel-caption p {
	margin: 0px;
	line-height: 17px;
}
/************ about **************/

.art-menu ul a.submenu-info {
	width: 155px;
}
.portlet-content .leftmenu-info {
	margin-bottom: 15px;
}
.panel-info h1 {
	margin-top: 0;
}
.panel-info p.text-info {
	text-align: justify;
	color: #363636;
	margin: 0px;
}
.panel-info ul.text-info li {
	text-align: justify;
	color: #363636;
	line-height: 18px;
}
/************ about **************/

/************ home *****************/

/****** Listado propiedades ********/

h2.title-estates {
	background: #333;
	padding: 5px 10px;
	margin-top: 0;
	color: white;
	font-size: 17px;
	margin-bottom: 0px;
}
h2.title-estates .link-back {
	float: right;
	font-size: 15px;
	margin-right: 10px;
	color: #C75656;
}
h2.title-estates .link-back:hover {
	color: #C75656;
}
.accordion-inner.well.search-estates {
	padding: 20px;
	background-color: #B4B4B4;
	border: 1px solid #CEA9A9;
	border-top: 1px solid #860000;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}
.search-estates .controls-row  {
	margin-bottom: 20px;
}
.search-estates .controls-row.last {
	margin-bottom: 0px;
}
.search-estates .controls-row .span-custom {
	width: 183px;
}
.search-estates .controls-row .span {
	margin-right: 0px;
}
.search-estates .controls-row .span.btn-submit {
	text-align: right;
}
.controls-row .span .art-button-wrapper {
	margin-top: 16px;
	margin-right: 7px;
}
.search-estates select,
.search-estates input[type="text"] {
	height: 18px;
	padding: 3px 4px;
}
.search-estates select  {
	height: 26px;
}
.controls-row .span .select-custom {
	width: 180px;
	margin-bottom: 0px;
}
.controls-row .span .input-custom {
	width: 165px;
	margin-bottom: 0px;
}

.list-view.list-view-estates .sorter {
	text-align: left;
	float: left;
	margin-left: 20px;
}
.list-view-estates .sorter li {
	background: transparent;
}
.list-view-estates .items a {
	text-decoration: none;
	color: #363636;
}
.list-view-estates .items a:hover {
	text-decoration: none;
	color: #AB2B2B;
	cursor: pointer;
	border: 1px solid #AB2B2B;
}

a.view-estates {
	margin: 0px 0px 10px;
	display: block;
}
.view-estates .view {
	display: inline-block;
	margin: 0px;
}
.view-estates .view:hover {
	border: 0px;
}
.view-estates .view .img {
	float: left;
	margin-right: 10px;
}
.view-estates .view .img img {
	width: 140px;
	height: 105px;
}
.view-estates .view .info {
	float: left;
	width: 650px;
}
.view-estates .view .info div {
	display: inline;
}
.view-estates .view .info div.right {
	float: right;
}

/*****************************/

/****** Ver propiedad ********/

.view-estate .title {
	background: #333;
	padding: 5px 10px;
	margin-top: 0;
	color: white;
}
.view-estate h2.title {
	font-size: 17px;
}
.view-estate h4.title {
	font-size: 15px;
}
.view-estate .title .link-back {
	float: right;
	text-decoration: none;
	font-size: 15px;
	margin-right: 10px;
	color: #C75656;
}
.view-estate .title .link-back:hover {	
	color: white;
}
.view-estate .estate-description {
	text-align: justify;
}

.detail-view.view-est-att {
	width: 100%;
}
.detail-view.view-est-att th {
	width: 200px;
	padding-right: 20px;
}
.detail-view.view-est-att .odd th {
	background: #E5F1F4;
}
.detail-view.view-est-att .even th {
	background: #F8F8F8;
}
.detail-view.view-est-att td {
	padding-left: 20px;
}
.detail-view.view-est-att .odd td {
	background: #E5F1F4;
}
.detail-view.view-est-att .even td {
	background: #F8F8F8;
}
.view-est-img {
	border: 1px solid #B8B8B8;
}
.view-est-img a {
	outline: 0px;
}
.view-est-img img {
	height: 114px;
	width: 160px;
	outline: 0px;
}

.modal.modal-view-est-img {
	width: 700px;
	margin: -250px 0 0 -350px;
	outline: 0;
	border: 0px;
	background-color: transparent;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
}
.modal-view-est-img .modal-header {
	padding: 3px 15px;
	background: #222020;
	opacity: 0.9;
	filter: alpha(opacity=90);
	border-color: #753B3B;
}
.modal-view-est-img .modal-header h3 {
	color: white;
	width: 90%;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.modal-view-est-img .modal-header .close {
	margin-top: 5px;
	font-size: 25px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-shadow: none;
	color: #ffffff;
}
.modal-view-est-img .modal-header .close:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.modal-view-est-img .modal-body {
	max-height: 525px;
	padding: 0px;
}
.modal-view-est-img  .carousel {
	height: 525px;
	width: 700px;
	background: #222020;
}
.modal-view-est-img .carousel {
	margin-bottom: 0px;
}
.modal-view-est-img  .carousel .item > img {
	max-width: 700px;
	max-height: 525px;
}
.modal-view-est-img  .carousel .carousel-control {
	top: 45%;
}

/*****************************/


/*** personalizado de main style ***/

div.view  {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #CACACA;
}

/***********************************/


/*** personalizado de bootstrap ***/
.accordion-inner.well {
	margin-bottom: 0px;
}

.accordion-inner.well > .control-group {
	margin-bottom: 10px;
}

[class*="span"] {
	margin-left: 0px;
	margin-right: 20px;
}

.carousel .carousel-control {
	top: 45%;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

.modal-backdrop.darkest.fade.in {	
	opacity: 0.9;
	filter: alpha(opacity=90);
}